%flex-row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

%clearfix {

	&::after {
		display: block;
		content: "";
		clear: both;
	}
}

@mixin make-row() {
	display: flex;
	flex-wrap: wrap;
	margin-right: calc(-0.5 * var(--global--spacing-unit));
	margin-left: calc(-0.5 * var(--global--spacing-unit));
}

@mixin make-col() {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

@mixin make-col-auto() {
	flex: 0 0 auto;
	width: auto;
	max-width: 100%;
}

@import "10-customize/common";
@import "10-customize/heading";
@import "10-customize/responsive";
@import "10-customize/slider";
@import "10-customize/typography";
@import "10-customize/all-fonts";
