/**
 * Responsive Styles
 */

/**
 * Required Variables
 */

$breakpoint_sm: 480px;
$breakpoint_md: 778px;
$breakpoint_lg: 1024px;
$breakpoint_xl: 1280px;

// Responsive breakpoints mixin
@mixin media( $res ) {

	@if mobile-only == $res {
		@media only screen and (max-width: #{$breakpoint_sm - 1}) {
			@content;
		}
	}

	@if mobile == $res {
		@media only screen and (min-width: #{$breakpoint_sm}) {
			@content;
		}
	}

	@if tablet-only == $res {
		@media only screen and (max-width: #{$breakpoint_md - 1}) {
			@content;
		}
	}

	@if tablet == $res {
		@media only screen and (min-width: #{$breakpoint_md}) {
			@content;
		}
	}

	@if laptop-only == $res {
		@media only screen and (max-width: #{$breakpoint_lg - 1}) {
			@content;
		}
	}

	@if laptop == $res {
		@media only screen and (min-width: #{$breakpoint_lg}) {
			@content;
		}
	}

	@if desktop-only == $res {
		@media only screen and (max-width: #{$breakpoint_xl - 1}) {
			@content;
		}
	}

	@if desktop == $res {
		@media only screen and (min-width: #{$breakpoint_xl}) {
			@content;
		}
	}
}

/**
 * Root Media Query Variables
 */
:root {
	--content-width: 1200px;
	--responsive--spacing-horizontal: calc(1.2 * var(--global--spacing-horizontal));
	--responsive--content-width: min(80%, var(--content-width));
	--responsive--full-width: 100%;
}

@include media(laptop) {

	:root {
		--responsive--content-width: min(calc(100% - 6 * var(--responsive--spacing-horizontal)), var(--content-width));
	}
}

@include media(laptop-only) {

	:root {
		--responsive--content-width: min(calc(100% - 2 * var(--global--spacing-horizontal)), var(--content-width));
	}
}

/**
 * Extends
 */
%responsive-content-width {
	width: 100%;
	max-width: var(--responsive--content-width);
	margin-left: auto;
	margin-right: auto;
}

%responsive-full-width {
	width: 100%;
	max-width: var(--responsive--full-width);
	margin-left: auto;
	margin-right: auto;
}
