.customize-control-vky-slider {

	input[type="range"] {
		max-width: calc(100% - 86px);
		width: 100%;
		-webkit-appearance: none;
		transition: background var(--customize--transition-duration);
		background-color: var(--customize--color-background);
		height: 5px;
		padding: 0;
		cursor: pointer;

		&:focus {
			box-shadow: none;
			outline: none;
		}

		&:hover,
		&:focus {
			background-color: var(--customize--color-background-hover);
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background-color: var(--customize--color-blue);
			border: none;
		}

		&::-moz-range-thumb {
			width: 15px;
			height: 15px;
			border: none;
			border-radius: 50%;
			background-color: var(--customize--color-blue);
		}

		&::-ms-thumb {
			width: 15px;
			height: 15px;
			border-radius: 50%;
			border: 0;
			background-color: var(--customize--color-blue);
		}

		&::-moz-range-track {
			border: inherit;
			background: transparent;
		}

		&::-ms-track {
			border: inherit;
			color: transparent;
			background: transparent;
		}

		&::-ms-fill-lower,
		&::-ms-fill-upper {
			background: transparent;
		}

		&::-ms-tooltip {
			display: none;
		}
	}

	input[type="number"] {
		width: 60px;
		text-align: center;
		margin-left: 4px;
		border-radius: 4px;
		border: none;
		box-shadow: none;
		background: var(--customize--color-background);
		padding: 3px;
		font-size: 11px;
		font-weight: 700;
		color: var(--customize--color-primary);
	}

	.vky-reset-slider {
		@include make-col-auto();
		color: var(--customize--color-gray);
		transition: color var(--customize--transition-duration);
		cursor: pointer;
		margin-left: 4px;

		span {
			font-size: 16px;
			line-height: 16px;
			width: 16px;
			height: 16px;
			transition: unset;
		}

		&:hover,
		&:focus {
			color: var(--customize--color-gray-dark);
		}
	}
}
